@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Romanesco&display=swap');


/********************************** MENU SPA **********************************/
header section ul li {
    display: inline-block;
}

body {
    margin: 0;
    pafing: 0;
}
/* Barra del menu del spa*/
#menu-spa{
    padding: 25.2855px 70px;
    background-color: #A3A656;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: normal;
}
/* Dar el espaciado en las listas*/
#menu-spa ul li{
    margin: 0 15px 0 0;
}
/* Configurar la lista */
#menu-spa ul{
    padding: 0px 0px;
    margin: 0px 0px;
    display: inline;
}
/* Quitar el hipervinculo del menu */
#menu-spa a{
    color: #000000;
    text-decoration: none;
    list-style-type: none;
}
/********************************** OPCIONES USUARIO **********************************/
#opciones {
    display: inline;
    align-items: center;
    position:absolute;
    top: 23px;
    right: 15px;
    font-family: 'Inter';
    font-size: 14px;
    font-weight: normal;
}

#cuenta {
    display: inline;
    margin-right: 35px;
}

#idioma {
    display: inline;
}

#opciones img {
    vertical-align: middle;
    margin: 0px 5px;
    top: 13px;
}

#opciones a {
    vertical-align: middle;
}
/********************************** PORTADA **********************************/
#fondo {
    height: 600px;
    background-image: url(/imagenes/main.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.letras{
    margin: 150px;
    float: left;
    width: 550px;
}

.texto_spa {
    
    font-family: 'Romanesco';
    font-weight: regular;
    font-size: 96px;
}
/********************************** CITA **********************************/
#reservas {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: normal;
    padding: 24px 0px;
    text-align: center;
    background-color: #F3F6F6;
}

#reservas p{
    display: inline;
}

#reservas input{
    border: none;
    border-radius: 15px;
    height: 50px;
    width: 250px;
    margin: 0px 15px;
}

::placeholder{
    padding-left: 15px;
    color: #9E9A9A;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: normal;
}
/********************************** MASAJES **********************************/
#tipos_de_masajes{
    text-align: center;
}
#tipos_de_masajes article{
    display: inline-block;
    width: 310px;
    margin: 0 72px 65px 72px;
}

#titulo{
    background-color: #A3A656;
    border-radius: 15px 15px 0 0;
}

#titulo h2{
    margin: 100px 0 0 0;
    padding: 15px 0;
    color: rgb(255, 255, 255);  
}

#pie{
    vertical-align: center;
}

#precio{
    text-align: left;
    display: inline;
    font-family: 'Inter';
    font-size: 28px;
    font-weight: bold;
    margin: 0 120px 0 0;
}

#tipos_de_masajes article img{
    width: 310px;
}

#tipos_de_masajes article p{
    font-family: 'Inter';
    font-size: 16px;
    font-weight: normal;
    text-align: left;
}
/********************************** PLANES **********************************/
#planes{
    background-color: #F2F6F6;
    text-align: center;
    height: 765px;
    padding: 5px 0 0 0;
}

#planes article{
    display: inline-block;
    margin: 0 90px;
    vertical-align: top;
}

#borde{
    border: solid 12px #384001;
    border-radius: 50%;
    width: 233px;
    height: 233px;
    justify-content: center;
    align-items: center;
    display: flex;  
    background-color: #FFF;
}

#tituloPlan h2{
    margin: 5px 0 0 0;
    color: rgb(0, 0, 0);
}

#condiciones input{
    font-family: 'Inter';
    border: none;
    font-size: 15px;
    border-radius: 35px;
    background-color: #A3A656;
    color: #FFF;
    font-weight: bold;
    width: 257px;
    height: 50px;
    margin: 30px 0;
}

#planes article a{
    font-family: 'Inter';
    border: none;
    font-size: 16px;
    color: #000000;
    text-decoration: none;
    list-style-type: none;
}

#planes article ul li{
    text-align: left;
    margin: 6px;
}

#hazteSocio{
    margin: 30px 0 80px 0;
}

/********************************** FOOTER **********************************/
footer section ul li {
    display: inline-block;
}

#footer{
    padding: 26.5px 70px;
    background-color: #384001;
    color: #A3A656;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: normal;
    display: flex;
    align-items: center;
}
/* Dar el espaciado en las listas*/
#footer ul li{
    margin: 0 30px 0 0;
}
/* Configurar la lista */
#footer ul{
    padding: 0;
    margin: 0;
    display: inline;
    margin-block-start: 0;
}
/* Quitar el hipervinculo del menu */
#footer a{
    color: #A3A656;;
    text-decoration: none;
    list-style-type: none;
}

#redesSociales {
    display: flex;
    align-items: center;
}

#redesSociales p {
    margin: 0 25px 0 133.5px;
    display: inline;
}

#redesSociales img {
    padding-right: 40px;
    height: 40px;
}
/********************************** FONTS **********************************/
h2{
    font-family: 'Inter';
    font-size: 32px;
}
/********************************** INPUT **********************************/
input[type="submit"] {
    font-family: 'Inter';
    border: none;
    border-radius: 35px;
    background-color: #A3A656;
    color: #FFF;
    font-weight: bold;
    width: 120px;
    height: 40px;
    align-self: right;

}
/********************************** COLORES **********************************/
#cambiar:hover{
    background-color: #384001;
}

#colorLetra:hover{
    color: #FFFF00;
}
